<link rel="stylesheet" type="text/css" href="style.css">
<div class="row" ng-controller="myCtrl">
 <div class="col-sm-3" style="background-color:#232F47;">   
 <button style="background-color:#232F47 " ng-click="back()"><i class="fa fa-arrow-left" style="color: #FFF;font-size: 20px" ></i> </button> </div>
 <div class="col-sm-6" style="background-color:#232F47;">   </div>
   <div class="col-sm-3" style="background-color:#232F47;"  align="right">
   <button style="background-color:#232F47 " ng-click="close()"><i  class="fa fa-times" style="color: #FFF;font-size:20px" ></i></button>
   
   </div>
</div>
