@font-face {
    font-family: Helvethaicax;
    src: url(font/DB-Helvethaica-X.ttf);
}

main{
    padding:10px;
  }
  .fl{
    float: left;
  }
  #edit{
   /* margin-right: 10px;*/
  }

body
{
  /*  padding-left: 10px;*/
    background-color: #FFF;
    background-size: cover;
}

.btnb{
  background-color: #FE3BAB;
  width: 250px;
    height: 30px;
   font-style: Ms Sans Serif;
   color: white;
}
.btna{
  background-color: #BEBEBE;
  width: 250px;
    height: 30px;
   font-style: Ms Sans Serif;
}

.helvelthica{
   font-family: 'Helvethaicax';
   font-size: 20px;
}

