main{
    padding:10px;
     font-style: Ms Sans Serif;
  }
  .fl{
    float: left;
  }
  #edit{
   /* margin-right: 10px;*/
  }

body
{
  /*  padding-left: 10px;*/
    background-color: #232F47;
    background-size: cover;
}
.colorWhite{
  color: #FFF;
  font-style: Ms Sans Serif;
}
.btn{
  background-color: #FE3BAB;
  width: 100%;
  font-style: Ms Sans Serif;
}
.form-control{
  background-color: #5A6375;
  color: #FFF;
  padding: 15px;
  font-style: Ms Sans Serif;
}

.padding{
  padding: 5px;
}

.header{
  background-color: #232F47;
  height: 50px;
  font-style: Ms Sans Serif;
  
}